# Mi repaso

##  1. Se obtienen los datos de accidentes de tráfico del Ayuntamiento de Madrid

In [20]:
! wget https://datos.madrid.es/egob/catalogo/207831-2-accidentes-trafico.xls

--2019-01-20 09:29:13--  https://datos.madrid.es/egob/catalogo/207831-2-accidentes-trafico.xls
Resolving datos.madrid.es (datos.madrid.es)... 149.235.17.74
Connecting to datos.madrid.es (datos.madrid.es)|149.235.17.74|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://datos.madrid.es:443/egobfiles/MANUAL/207831/03_%20ACCIDENTES%20POR%20TIPO%20Y%20DIA%20SEMANA.xls [following]
--2019-01-20 09:29:23--  https://datos.madrid.es/egobfiles/MANUAL/207831/03_%20ACCIDENTES%20POR%20TIPO%20Y%20DIA%20SEMANA.xls
Connecting to datos.madrid.es (datos.madrid.es)|149.235.17.74|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 44544 (44K) [application/vnd.ms-excel]
Saving to: ‘207831-2-accidentes-trafico.xls.3’

207831-2-accidentes 100%[===================>]  43,50K  --.-KB/s    in 0,08s

2019-01-20 09:29:23 (551 KB/s) - ‘207831-2-accidentes-trafico.xls.3’ saved [44544/44544]

## 2.Leemos la hoja correspondiente a 2009

Hay que saltarse las primeras filas

In [52]:
import pandas as pd

accidentes = pd.read_excel('207831-2-accidentes-trafico.xls',
                           sheet_name='2009',header=6,usecols="A:K",skip_footer=1)

accidentes

,Tipo Accidente,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS
0,Dia Semana,Nº Accidentes,Nº Accidentes,Nº Accidentes,Nº Accidentes,Nº Accidentes,Nº Accidentes,Nº Accidentes,Nº Accidentes,Nº Accidentes,Nº Accidentes
1,LUNES,975,138,310,280,16,124,36,6,7,19
2,MARTES,931,120,283,242,9,124,28,12,17,23
3,MIERCOLES,1054,141,280,261,11,139,35,8,17,21
4,JUEVES,1026,113,317,255,15,138,43,12,22,21
5,VIERNES,1117,161,338,250,14,133,28,10,16,22
6,SABADO,762,62,433,167,15,57,36,10,7,14
7,DOMINGO,633,55,429,127,18,53,25,18,7,14

##  3. Adaptamos el dataframe a nuestras necesidades

### 3.1 Borramos la fila que repite 'Nº Accidentes', que es innecesaria

In [53]:
accidentes.index

RangeIndex(start=0, stop=8, step=1)

In [54]:
accidentes.drop(labels=accidentes.index[0], inplace=True)
accidentes

,Tipo Accidente,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS
1,LUNES,975,138,310,280,16,124,36,6,7,19
2,MARTES,931,120,283,242,9,124,28,12,17,23
3,MIERCOLES,1054,141,280,261,11,139,35,8,17,21
4,JUEVES,1026,113,317,255,15,138,43,12,22,21
5,VIERNES,1117,161,338,250,14,133,28,10,16,22
6,SABADO,762,62,433,167,15,57,36,10,7,14
7,DOMINGO,633,55,429,127,18,53,25,18,7,14

###  3.2 Las columnas tienen espacios en los nombres. Los limpiamos.

In [55]:
accidentes.columns

Index(['Tipo Accidente', 'COLISIÓN DOBLE                          ',
       'COLISIÓN MÚLTIPLE                       ',
       'CHOQUE CON OBJETO FIJO                  ',
       'ATROPELLO                               ',
       'VUELCO                                  ',
       'CAÍDA MOTOCICLETA                       ',
       'CAÍDA CICLOMOTOR                        ',
       'CAÍDA BICICLETA                         ',
       'CAÍDA VIAJERO BUS                       ',
       'OTRAS CAUSAS                            '],
      dtype='object')

In [56]:
accidentes.columns = accidentes.columns.str.strip()

In [57]:
accidentes.columns

Index(['Tipo Accidente', 'COLISIÓN DOBLE', 'COLISIÓN MÚLTIPLE',
       'CHOQUE CON OBJETO FIJO', 'ATROPELLO', 'VUELCO', 'CAÍDA MOTOCICLETA',
       'CAÍDA CICLOMOTOR', 'CAÍDA BICICLETA', 'CAÍDA VIAJERO BUS',
       'OTRAS CAUSAS'],
      dtype='object')

### 3.3 Modificamos el nombre de la primera columna

In [58]:
accidentes.columns[0]

'Tipo Accidente'

In [59]:
accidentes.rename(columns={ accidentes.columns[0]:"DÍA SEMANA"}, inplace=True)
accidentes

,DÍA SEMANA,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS
1,LUNES,975,138,310,280,16,124,36,6,7,19
2,MARTES,931,120,283,242,9,124,28,12,17,23
3,MIERCOLES,1054,141,280,261,11,139,35,8,17,21
4,JUEVES,1026,113,317,255,15,138,43,12,22,21
5,VIERNES,1117,161,338,250,14,133,28,10,16,22
6,SABADO,762,62,433,167,15,57,36,10,7,14
7,DOMINGO,633,55,429,127,18,53,25,18,7,14

### 3.4 Añadimos una columna _AÑO_

Esto lo hacemos porque posteriormente cargaremos el resto de hojas y juntaremos todos los datos.

In [60]:
accidentes["AÑO"] = 2009
accidentes

,DÍA SEMANA,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS,AÑO
1,LUNES,975,138,310,280,16,124,36,6,7,19,2009
2,MARTES,931,120,283,242,9,124,28,12,17,23,2009
3,MIERCOLES,1054,141,280,261,11,139,35,8,17,21,2009
4,JUEVES,1026,113,317,255,15,138,43,12,22,21,2009
5,VIERNES,1117,161,338,250,14,133,28,10,16,22,2009
6,SABADO,762,62,433,167,15,57,36,10,7,14,2009
7,DOMINGO,633,55,429,127,18,53,25,18,7,14,2009

### 3.5 Añadimos una columna _FIN DE SEMANA_

In [61]:
def es_finde(dia):
    if dia.upper() == "SABADO": return True
    if dia.upper() == "DOMINGO": return True
    
    return False

In [62]:
accidentes["FIN DE SEMANA"] = accidentes["DÍA SEMANA"].apply(es_finde)
accidentes

,DÍA SEMANA,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS,AÑO,FIN DE SEMANA
1,LUNES,975,138,310,280,16,124,36,6,7,19,2009,False
2,MARTES,931,120,283,242,9,124,28,12,17,23,2009,False
3,MIERCOLES,1054,141,280,261,11,139,35,8,17,21,2009,False
4,JUEVES,1026,113,317,255,15,138,43,12,22,21,2009,False
5,VIERNES,1117,161,338,250,14,133,28,10,16,22,2009,False
6,SABADO,762,62,433,167,15,57,36,10,7,14,2009,True
7,DOMINGO,633,55,429,127,18,53,25,18,7,14,2009,True

###  3.6 Añadimos una columna _VEHÍCULO DOS RUEDAS_

In [65]:
accidentes["VEHÍCULO DOS RUEDAS"] = accidentes["CAÍDA MOTOCICLETA"]+ accidentes["CAÍDA CICLOMOTOR"]+ accidentes["CAÍDA BICICLETA"]
accidentes

,DÍA SEMANA,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS,AÑO,FIN DE SEMANA,VEHÍCULO DOS RUEDAS
1,LUNES,975,138,310,280,16,124,36,6,7,19,2009,False,166
2,MARTES,931,120,283,242,9,124,28,12,17,23,2009,False,164
3,MIERCOLES,1054,141,280,261,11,139,35,8,17,21,2009,False,182
4,JUEVES,1026,113,317,255,15,138,43,12,22,21,2009,False,193
5,VIERNES,1117,161,338,250,14,133,28,10,16,22,2009,False,171
6,SABADO,762,62,433,167,15,57,36,10,7,14,2009,True,103
7,DOMINGO,633,55,429,127,18,53,25,18,7,14,2009,True,96

###  3.7 Reordenamos columnas

In [85]:
def select_columns_by_index(dataframe,*indexes):
    all_column_names = dataframe.columns
    selected_column_names = map(lambda index : all_column_names[index], indexes)
    return accidentes[list(selected_column_names)]

select_columns_by_index(accidentes,0,12,1,2,3,4,5,6,7,8,9,10,13,11)

,DÍA SEMANA,FIN DE SEMANA,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS,VEHÍCULO DOS RUEDAS,AÑO
1,LUNES,False,975,138,310,280,16,124,36,6,7,19,166,2009
2,MARTES,False,931,120,283,242,9,124,28,12,17,23,164,2009
3,MIERCOLES,False,1054,141,280,261,11,139,35,8,17,21,182,2009
4,JUEVES,False,1026,113,317,255,15,138,43,12,22,21,193,2009
5,VIERNES,False,1117,161,338,250,14,133,28,10,16,22,171,2009
6,SABADO,True,762,62,433,167,15,57,36,10,7,14,103,2009
7,DOMINGO,True,633,55,429,127,18,53,25,18,7,14,96,2009